.utilities {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  width: 440px;
  margin: 20px 20px 20px -5px;  
  text-align: center;

  .mat-button {
    min-width: 48px;
    padding: 5px 10px;
  }

  i{
    font-size: 2em;
  }
  .label{
    font-size: 0.8em;
    display: block;
    text-transform: capitalize;
    line-height: 1.5em;
  }
}
.mat-button{
  &.profile-button{  
    padding-top:8px;
    padding-bottom:8px;

    &--extra {
      width: 100%;
      text-align: left;
      .mat-button-wrapper {
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);
      }
      
      .avatar{        
        margin-right: 12px;        
        width: 56px;
        height: 56px;
      }

      .label {
        span {
          display: block;
          line-height: 1.4em;

          &.sp {

          }

          &.user-name {
            font-weight: bold;
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

.avatar{
  display: inline-block;
  margin-right: 8px;
  position: relative;
  overflow: hidden;
  height: 0;
  width: 46px;
  height: 46px;
  @include border-radius(50%);

  img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;    
  }
}

.lang-toggle {
  .flag {
    display: inline-block;
    background: url('./assets/en-lang.png') center no-repeat;
    background-size: contain;
    position: relative;
    top: -1px;
    width: 30px;
    height: 15px;
    
  }
}

.mat-option-text {  
  .int {
    margin-left: 50px !important;
    display: inline-block;
    float: right;
  }
}

.buttons {
  &__group {      
    margin: 20px 0;    

    // .mat-form-field-infix{
    //   width: 250px;
    // }

    .mat-form-field {
      margin-left: 15px;
      font-size: 14px;      
    }
    button:not(:first-of-type){
      margin-left: 15px;
    }
  }
}

[class*=col-] {
  .mat-form-field {
    display: block;
  }
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field{
  &:not(.mat-form-field-should-float) {
    .mat-form-field-label{
      left: 0.5em;
    }
  }
}

.mat-form-field-infix{
  border: solid 1px #d9d9d9;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  border-radius: 4px;
}
.mat-form {
  &-field {
    //font-size: 1.1em;
    
    &-label {
      //left:10px !important;
    
      &.mat-focused
      &.mat-form-field-should-float{
        left:20px!important;
      }  
        
    }
  }
}

textarea.mat-input-element {
  height: 70px;
  resize: none;
}


.divTable {
  width: 1000px;
}
.divTable .divTableCell, .divTable .divTableHead {
  padding: 3px 2px;
}
.divTable .divTableHeading {
  }
.divTable .divTableHeading .divTableHead {
  font-weight: bold;
}

.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}