.main {
  background-color: $color-white;
  height: 100%;
  margin-left: auto;
  width: calc(100% - 320px);
  position: relative;

  &__head {
    background-color: $color-white;
    height: 90px;
    width: calc(100% - 320px);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 320px;    
    @include box-shadow(0px, 0px, 4px, 1px, rgba(0,0,0,0.1));
    @include flexbox();
    @include flex-wrap(wrap);
    justify-content: space-between;
    align-items: center;

    &__nav {
      .mat-icon-button {                
        padding: 0 10px 2px;
        min-width: 40px; 

        &:not(:first-of-type) {
          margin-left: 6px;
        }

      }
    }
    &__panel{
      padding: 0 20px;
      &--left{}
      &--right{}
    }
  }
  &__body{
    padding: 100px 30px 30px;

    .mat-flat-button {}
    &__title {
      padding: 15px 0;
      h1 {
        margin: 0;
      }
    }
  }

}