.sidebar{
  background-color: #1b1e25;  
  width: 320px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  color: $color-white;

  &__head{
    @include flexbox();
    @include flex-wrap(wrap);
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 15px;

    .logo {
      width: 148px;

      img{
        width: 100%;
      }
    }
    
  }
  &__body{
    padding: 15px 0;
    overflow: auto;
    max-height: 100%;

    > *:not(:last-child){
      margin-bottom: 20px;
    }
    
    .mat-list-base {
      // padding-top: 0;

      .mat-list-item {
        font-size: 1em;
        
        &.active  {
          color: #0291e0;
        }
        &:hover {
          background-color: #282c37;
        }

        .mat-list-item-content {
          padding: 0 30px 0 40px;
        }
      }
    }
    
    .mat-expansion {
      &-indicator {
        &::after {
          color: $color-white;
        }
      }      
      &-panel {
        background-color: transparent;
        color: $color-white;
        
        &-body {
          padding-left: 0;
          padding-right: 0;
        }

        &-header {
          max-height: 48px;

          &-title {
            color: $color-white;
          }
        }
      }
    }

    .mat-list-base {
      .mat-list-item {
        color: $color-white;
      }
    }


  }
}