<div class="utilities">
  <div>
    <button mat-button aria-label="prev">
      <i class="fas fa-caret-square-left"></i>
      <span class="label">prev</span>
    </button>
    <button mat-button aria-label="next">
      <i class="fas fa-caret-square-right"></i>
      <span class="label">next</span>
    </button>
  </div>
  <div>
    <button mat-button aria-label="new">
      <i class="fas fa-file"></i>
      <span class="label">new</span>
    </button>
    <button mat-button aria-label="save">
      <i class="fas fa-save"></i>
      <span class="label">save</span>
    </button>
    <button mat-button aria-label="borwse">
      <i class="fas fa-folder-open"></i>
      <span class="label">borwse</span>
    </button>
    <button mat-button aria-label="trash">
      <i class="fas fa-trash"></i>
      <span class="label">delete</span>
    </button>
    <button mat-button aria-label="print">
      <i class="fas fa-print"></i>
      <span class="label">print</span>
    </button>
    <button mat-button aria-label="attach">
      <i class="fas fa-paperclip"></i>
      <span class="label">attach</span>
    </button>
  </div>
</div>

<div class="main__body__title">
  <h1 class="h1">Receivable Master</h1>
</div>

<div class="buttons__group">
  <button mat-flat-button color="primary">Group</button>
  <mat-form-field>
    <mat-select [value]="selectedOption">
      <mat-option value="1">Debtors Control A/C <span class="int">13201</span></mat-option>
      <mat-option value="2">Debtors Control A/C <span class="int">12201</span></mat-option>
      <mat-option value="3">Debtors Control A/C <span class="int">11201</span></mat-option>
      <mat-option value="4">Debtors Control A/C <span class="int">10201</span></mat-option>
      <mat-option value="5">Debtors Control A/C <span class="int">19201</span></mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="accent">Mail Send History</button>
  <button mat-flat-button color="accent">Call From CRM</button>
  <button mat-flat-button color="accent">Search Contact Details</button>
  <button mat-flat-button color="accent">Map</button>
</div>

<div class="project__detail">
  <mat-card class="project__detail__cat">
    <app-tree-menu></app-tree-menu>
  </mat-card>
  <div class="project__detail__content">
    <mat-card class="form">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="A/C Code" value="2342342340324234">
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="Default Currency">
                <mat-option value="option">AED</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="Default Currency">
                <mat-option value="option">AED</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="A/C Name" value="Uaq Hyper Market">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Arabic Name" value="Uaq Hyper Market">
            </mat-form-field>
          </div>
        </div>

        <div class="cat">
          <span class="lable">Catogry</span>
          <button mat-flat-button color="primary">Account Receivable</button>
          <button mat-flat-button color="accent">Other Payables</button>
        </div>


        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <textarea matInput placeholder="Textarea"
                value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a scelerisque nisl. "></textarea>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <textarea matInput placeholder="Textarea"
                value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a scelerisque nisl. "></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row row-last">

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Vat No." value="42340324234">
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Vat Applicable" value="Applicable">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Region" value="Local">
            </mat-form-field>
          </div>

        </div>

      </div>
    </mat-card>
    <mat-card class="table">
      <div class="divTable">
        <div class="divTableHeading">
          <div class="divTableRow">
            <div class="divTableHead">Document Name</div>
            <div class="divTableHead">Description</div>
            <div class="divTableHead">Document #</div>
            <div class="divTableHead">Issue Date</div>
            <div class="divTableHead">Expiry Date</div>
            <div class="divTableHead">Other field 1</div>
            <div class="divTableHead">Other field 2</div>
            <div class="divTableHead">Other field 3</div>
          </div>
        </div>
        <div class="divTableBody">
          <div class="divTableRow">
            <div class="divTableCell">&nbsp;</div>
            <div class="divTableCell">&nbsp;</div>
            <div class="divTableCell">&nbsp;</div>
            <div class="divTableCell">&nbsp;</div>
            <div class="divTableCell">&nbsp;</div>
            <div class="divTableCell">&nbsp;</div>
            <div class="divTableCell">&nbsp;</div>
            <div class="divTableCell">&nbsp;</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

</div>