.icon {
  &:before {
      font-family: 'icoMoon' !important;
      speak: none;
      vertical-align: top;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
}

.icon__linkedin {
  @extend .icon;
  &:before {
      content: "\e903";
  }
}