.nav-tree {
  
  &__wrapper {
    
  }
  &__label {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  .mat-expansion-panel-spacing {
    margin: 0 !important;
  }

}