.project {
  &__list {
    @include flexbox();
    @include flex-wrap(wrap);
    margin: 30px -15px;
    @include justify-content(space-around);

    &__item {      
      width: calc(33.333% - 30px);
      margin-bottom: 30px;
      height: 260px;
      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      }

      .mat-card-image {
        height: 70%;
        object-fit: cover;
      }

      .title {
        color: #000033;
        font-size: 1.2em;
        text-transform: capitalize;
      }

      .location {
        color: #999999;
        font-size: 0.8em;
        line-height: 1em;
      }

      .edit-inifo {
        color: #0291e0;
        position: absolute;
        z-index: 1;
        right: 5px;
        top: 63.5%;
      }

      .rating{
        color: #ffa904;
        margin-top: 8px;
      }

    }
  }  
  &__detail {
    @include flexbox();
    @include flex-wrap(wrap);
    margin: 30px 0;
    // @include justify-content(space-around); 

    &__cat {
      width: 260px;
      height: 641px;
      margin-right: 30px;      
      overflow: auto;
      
      .mat-tree-node {
        min-height: 40px;
        
        ul {
          margin-left: 20px;
        }
      }
    }
    &__content {
      width: calc(100% - 290px);          
      .form {
        margin-bottom: 30px;
        padding-top: 35px;
        height: 431px;
        overflow: auto;
        
        .row-last{          
          [class*=col-]{
            margin-bottom: unset;
          }
        }
        
        [class*=col-]{
          margin-bottom: 15px;
        }
        .cat {          
          @include flexbox();
          @include flex-wrap(wrap);
          align-items: center;
          margin-bottom: 40px;
          margin-top: -5px;

          .mat-flat-button {
            margin-left: 20px;
          }          
        }
      }
      .table {        
        height: 180px;
        overflow: auto;        
      }
    }    
  }
}