<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <app-sidebar></app-sidebar>
  <section class="main">
    <div class="main__head">
      <div class="main__head__panel main__head__panel--left">
        <div class="main__head__nav">
          <button mat-icon-button aria-label="calendar"><i class="fas fa-calendar-alt fa-lg"></i></button>
          <button mat-icon-button aria-label="envelope"><i class="fas fa-envelope fa-lg"></i></button>
          <button mat-icon-button aria-label="user"><i class="fas fa-user fa-lg"></i></button>
          <button mat-icon-button aria-label="check-square"><i class="fas fa-check-square fa-lg"></i></button>
          <button mat-icon-button color="warn" aria-label="star"><i class="fas fa-star fa-lg"></i></button>
        </div>
      </div>
      <div>
        <button mat-flat-button routerLink="projects-list" color="primary">Listing</button>
        &nbsp;
        <button mat-flat-button routerLink="project" color="accent">Form</button>
      </div>
      <div class="main__head__panel main__head__panel--right">
        <div class="main__head__nav">
          <button mat-button class="profile-button">
            <span class="avatar"><img src="https://picsum.photos/id/666/80/80" alt="avatar"></span>
            <span class="user-name">{{username}}</span>
          </button>
          <button mat-icon-button aria-label="search"><i class="fas fa-search fa-lg"></i></button>
          <button mat-button class="lang-toggle"><span class="flag"></span> EN</button>
        </div>
      </div>
    </div>
    <div class="main__body">
      <router-outlet></router-outlet>
    </div>
  </section>

</div>