/* scss variables */

$body-font: Arial, Helvetica, sans-serif;

$body-font-size: 16px;

$body-font-color: #000000;

// Colors
$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-black: #000000;
$color-black-light: #e0e0e0;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-gray: #52545D;
$color-gray-light: #f7f7f7;
$color-error: red;

$color-brand: #E85102;
$color-orange: #E85102;
$color-yellow: #EEC319;
$color-blue: #1006A0;
$color-purple: #440099;

// Transitions
$transitionEffect: cubic-bezier(.6,.04,.12,.96);
