<aside class="sidebar">
  <div class="sidebar__head">
    <div class="logo">
      <img src="../assets/erp-logo.png" alt="epr-logo">
    </div>
    <button mat-icon-button class="toggel-bar" aria-label="toggel-bar"><i class="fas fa-bars fa-lg"></i></button>
  </div>

  <div class="sidebar__body">
    <button mat-button class="profile-button profile-button--extra">
      <span class="avatar"><img src="{{useravatar}}" alt="{{username}}" /></span>
      <span class="label">
        <span class="sp">Welcome</span>
        <span class="user-name">{{username}}</span>
      </span>
    </button>
    <div class="nav-tree__wrapper">
      <div class="nav-tree__label">Application</div>
      <div class="nav-tree">
        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z">
            <mat-expansion-panel-header>
              <mat-panel-title>Transaction</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item href="..." *ngFor="let link of links"> {{ link.title }} </a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel class="mat-elevation-z">
            <mat-expansion-panel-header>
              <mat-panel-title>Accounts</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item href="..." *ngFor="let link of links"> {{ link.title }} </a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="true" class="mat-elevation-z">
            <mat-expansion-panel-header>
              <mat-panel-title>Accounts Masters</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item href="..." *ngFor="let link of links"> {{ link.title }} </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</aside>