<div class="buttons__group">
  <button mat-flat-button color="primary">New</button>
  <button mat-flat-button color="accent">Browse</button>
  <button mat-flat-button color="accent">save</button>
  <button mat-flat-button color="accent">Delete</button>
  <button mat-flat-button color="accent">Listing</button>
  <button mat-flat-button color="accent">Print Close</button>
</div>
<div class="project__list">
  <mat-card class="project__list__item" *ngFor="let project of projects">
    <img mat-card-image [src]="project.image">
    <mat-card-title class="title">{{project.title}}</mat-card-title>
    <button mat-icon-button class="edit-inifo" aria-label="edit"><i class="fas fa-edit fa-md"></i></button>
    <div class="card-text-content">
      <div class="location"><i class="fas fa-map-marker-alt fa-sm"></i> &nbsp;{{project.location}}</div>
    </div>
    <div class="rating">
      <i class="fas fa-star fa-sm"></i>
      <i class="fas fa-star fa-sm"></i>
      <i class="fas fa-star fa-sm"></i>
      <i class="fas fa-star fa-sm"></i>
      <i class="fas fa-star-half fa-sm"></i>
    </div>
  </mat-card>
</div>